.btn-primary {
    background-color: #FF9900;
    border: 0;
    padding: 15px 40px 15px 40px;
    font-size: 16px;
    font-weight: bold;
}

.btn-primary:hover {
    background: #cc7b02;
    border: 0;
}

.btn-secondary {
    background-color : white ; 
    border: 1px solid #bcd0e5;
    padding: 15px 40px 15px 40px;
    font-size: 16px;
    font-weight: bold;
    color: #173a56;
}

.btn-secondary:hover {
    background: none;
    border: 1px solid #94a4b4;
    color: #173a56;
}

.hero h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #2f281e;
}

.hero p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #2f281e;
}

.navbar-nav .nav-link{
    color: #2f281e;
}

@media only screen and (max-width : 768px){
    .btn-primary, .btn-secondary{
        margin-top: 10px;
        margin-left: 0 !important;
    }
}

